# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.SpaceRacerExperimental.iml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\temp\SpaceRacerExperimental\SpaceRacerExperimental\.idea\.idea.SpaceRacerExperimental\.idea/dataSources/
/dataSources.local.xml
